body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  
  /* for the navigation bar */
  
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 110px;
    position: fixed;
  }

  .nav-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px 20px;
    width: 80%;
    margin-top: 20px;
    background-color: rgba(25, 51, 34, 0.129);
    border-radius: 22px;
    box-shadow: 1px 1px 50px rgba(121, 115, 115, 0.295);

      
    }
    
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: Abyssinica SIL;
      /* background-color: aqua; */
      width: 200px;
      margin-left: -100px;
  
    }
    
    .navbar .page-links {
      display: flex;
      justify-content: space-between;
      line-height: 0;
      margin-right: 50px;
      /* font-family: Gothic A1; */
  
    }
    
    .navbar a {
      margin-right: 20px;
      text-decoration: none;
    }
    .navbar a h1 {
        font-size: 17px;
        font-weight: 400px;
        font-family: Gothic A1;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
    }
    
    .navbar .logo h1 {
      font-weight: regular;
      font-size: 42px;
      font-family: Abyssinica SIL;
      line-height: 42px;
      letter-spacing: -4%;
      color: rgba(0, 0, 0, 0.835);
      
    }

    .contact-nav {
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 0;
        font-family: Gothic A1;
        /* background-color: aqua; */
        
    }
    .contact-nav a {
        color: black;
        text-decoration: none;
        font-size: 18px;
    }
    
  /* for the main conteint */
  
  .landing-page {
    display: flex;
    width: 100%;
    padding: 100px 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .heading {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .landing-page h1 {
    text-align: center;
    font-size: 120px;
    width: 100%;
    height: 100px;
    font-weight: lighter;
    letter-spacing: -2%;
    margin: 10px;
    font-family: BIZ UDPMincho;
    color: rgba(0, 0, 0, 1);
  
  }
  .landing-page img {
    width: 90%;
    height: 70%;
    border-radius: 8px;
  }
  
  /* for making of the collage */
  .collage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #1f9c34; */
    gap: 20px;
  }
  
  .collage-img {
    /* height: 300px; */
    width: 350px;
    margin: 20px;
    /* border-radius: 8px; */
    object-fit: cover;
  }
  
  .collage-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: 0.2s linear;
    
  }

  .collage-img img:hover {
    transform: scale(1.03);
    box-shadow: 0.1px 0.1px 30px rgb(174, 173, 173);
  }
  
  .text-content {
    line-height: 0.3;
    font-family: Gothic A1;
  }
  
  .title {
    font-size: 20px;
    font-weight: 400;
  }
  
  .subtitle {
    font-size: 17px;
    font-weight: 400;
    color: #00000099;
  }


  /* for impact container */
  .impact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    /* background-color: bisque; */
    margin-top: 60px;
    margin-bottom: 10px;
}
.impact {
  width: 75%;
  /* background-color: aqua; */
}
.our {
  font-size: 28px;
  font-weight: 400px;
  font-family: BIZ UDPMincho;
  line-height: 32px;
  letter-spacing: -1%;
  
}

.impact-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    /* background-color: red; */
}
.impact-data .data:nth-child(3),
.impact-data .data:nth-child(4) {
  margin-top: -50px;
}

.data {
  height: 150px;
  width: 300px;
  /* background-color: aquamarine; */
  /* margin: 10px; */
  border-top: 1px solid black; 
}

.numbers {
  display: block;
  font-size: 48px;
  font-weight: 400px;
  font-family: BIZ UDPMincho;
  line-height: 52px;
  letter-spacing: -1%;
  margin-top: 10px;
}
.datatitle {
font-family: Gothic A1;
font-weight: 400px;
font-size: 20px;
line-height: 24px;
margin-top: 10px;
}



 
  
  /* for about section */
  
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
    /* background-color: #1f9c34; */
  }
  
  .about p {
    width: 60%;
    font-size: 48px;
    text-align: center;
    font-family: BIZ UDPMincho;
    line-height: 52px;
    letter-spacing: -1%;
  
  }
  
  
  
  /* for the footer part */
  
  .footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    /* background-color: #d21e1e; */
    /* border-top: 1px solid #ddd; */
    font-family: "Arial", sans-serif;
  }
  
  .footer-left p {
    line-height: 32px;
    font-size: 28px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: -1%;
    font-family: BIZ UDPMincho;
    height: 32px;
  }
  
  .footer-right .contact-button {
    padding: 5px 10px;
    font-size: 20px;
    line-height: 24px;
    font-family: Roboto Mono;
    color: rgba(0, 0, 0, 1);
    font-weight: 400px;
    height: 42px;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .contact-button:hover {
    /* background-color: #f8f8f8; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.272);
  }
  
  /* media queries for responsive page */
  
  @media only screen and (max-width: 1024px) {
    .collage-img {
      width: 300px;
      height: auto;
    }
  
    .title {
      font-size: 18px;
    }
  
    .subtitle {
      font-size: 15px;
    }
  
    .landing-page h1 {
      font-size: 12vw;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .collage {
      justify-content: center;
    }
  
    .collage-img {
      width: 100%;
      max-width: 340px;
      height: auto;
    }
  
    .contact-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .contact-column {
      margin: 8px 0;
    }
    
  }
  
  @media only screen and (max-width: 480px) {
    .landing-page img {
        margin-left: 20px;
    }
    .navbar{
        height: 80px;
    }
    .nav-content{
        height: 10px;
    }
    .nav-content h1 {
      font-size: 16px;
    }
  
    .nav-content .page-links,.contact-nav{
      display: none;
    }
    .nav-content::after {
      content: "☰";
      font-size: 24px;
      color: black;
      cursor: pointer;
      display: inline-block;
      margin-right: 50px;
    }

    .logo{
        margin-left: 8px;
        font-weight: lighter;
        font-size: 30px;
    }

    .heading {
        margin-top: 50px;
        margin-bottom: 30px;
      }
    
    .collage-img {
      margin: 10px;
      width: 50%;
    }
  
    .title {
      font-size: 14px;
    }
  
    .subtitle {
      font-size: 12px;
    }
    .logo{
      font-size: 100px;
    }


    .impact-container{
        flex-direction: column;
        justify-content: center;

    }

    .impact{
        width: 100%;
        text-align: center;
        height: 50px;
    }
    .our {
        width: 100%;
    }

    .data {
        height: 150px;
        width: 150px;
        /* background-color: aquamarine; */
        /* margin: 10px; */
        border-top: 1px solid black; 

        justify-content: space-between;
      }
  
  
  
    .about p{
      font-size: 20px;
      width: 80%;
    }
  
    .contact-container{
      margin-bottom: 0;
    }
  
  
    .footer-left p {
      margin: 0;
      font-size: 12px;
      color: #555;
      font-family: 'Lexend Exa', sans-serif;
    
    }
  
    .footer-right .contact-button {
      font-size: 10px;
      
    }
  
  }
  